@font-face {
    font-family: comic;
    src: url("res/ComicSansMS400.ttf");
}

<<<<<<< HEAD
@media screen and (min-width:700px) {
body, html {
    height: auto;
    margin: 0;
      /* The image used */
  background-image: url("res/scroll.jpeg");
=======
>>>>>>> parent of fc8a322 (stay well release push)

 

h1{
    font-size: 400%;
    font-weight: normal;
}


.title {
    font-family: "Comic Sans MS";
    text-align: center;
}

<<<<<<< HEAD
.headlistl {
    margin-right: 0;
    margin-left: 0;
    height: 100%;
    display: flex;
  }

.socials{
    position: relative;
    display: inline-block;
    align-self: flex-end;
    width: 100%;
    height: auto;
}

.socials-container{
  height: 60%;
}

.top-nav {
    margin-top: 2%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
  }
  
  

  
#album{
  width:90%; 
  height:auto; 
  position:relative; 
  display: block; 
  margin:auto; 
}
}
  @media screen and (min-width:0) and (max-width: 576px) {

    .soc{
      display:none;
    }

    #yt {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 10%;
    }

    .menu-button-container {
      display: flex;
      padding-right: 0%;
      margin: auto;
      margin-right: 10%;
      margin-top: 1em;
    }

    .menu {
      position: absolute;
      top: 0;
      margin-top: 15%;
      flex-direction: column;
      width: 100%;
      justify-content: left;
      align-items: left;
    }

    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      display: none;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
      border: 1px solid #8A8C84;
      display: block;
      height: 3em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked + .menu{
        left: -9000px;
        width: 0px;
    }

    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 93%;
      color: black;
      background-color: #FAFCF1;
    }

    .menu > li:not(:last-child) {
      border-bottom: 1px solid #FAFCF1;
    }

    .headerimg{
        position: relative;
        width: 30%;
        height: auto;
        margin-right: 1%;
        margin-left: 1%;
    }

    #column{
        position: relative;
        background-color: #FAFCF1;
        width: 75%;
        height: 100%;
        margin: auto;
        padding-bottom: 3%;
    }

    .fullcont{
        display: table; /* Make the container element behave like a table */
        width: 100%; /* Set full-width to expand the whole page */
        height: 20%;
    }

  }
=======
.timer{
    font-family: "Comic Sans MS";
    text-align: center;
    margin-top: auto;  
}
>>>>>>> parent of fc8a322 (stay well release push)

.staywell{
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    height: auto;
}

.bike{
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#makecenter{
    display: table;
    height: 97.5vh;
}

.vidcenter{
    margin-top: 0;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 30%;
}

.vidcenter iframe{
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    height: 30%;
    width: 40%;
    margin: 0 auto;
}



#footer {
    bottom: 10%;
    text-align: right;
    position: fixed;
    overflow: auto;
    width: 100%;
    left: 0%;
    bottom: 0%;
 }

 #smilley{
    width: 100px;
    height: 100px;
    float: right;
 }
