@font-face {
    font-family: comic;
    src: url("res/ComicSansMS400.ttf");
}

h1{
    font-size: 400%;
    font-weight: normal;
}


.title {
    font-family: "Comic Sans MS";
    text-align: center;
}

.timer{
    font-family: "Comic Sans MS";
    text-align: center;
    margin-top: 20%;  
}

.staywell{
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    width: 50%;
    height: auto;
}

#makecenter{
    display: table;
    height: 97.5vh;
}

#footer {
    bottom: 10%;
    text-align: right;
    position: fixed;
    overflow: auto;
    width: 100%;
    left: 0%;
    bottom: 0%;
 }

 #smilley{
    width: 100px;
    height: 100px;
    float: right;
 }