div.svelte-cwls5q{display:flex;flex-direction:row;justify-content:center;height:fit-content}p.svelte-cwls5q,h1.svelte-cwls5q{font-family:Courier New,Courier,monospace;line-height:200%}p.svelte-cwls5q{padding-bottom:50px}
