main.svelte-hnidpj{display:flex;flex-direction:column;align-items:center}img.svelte-hnidpj{max-width:600px}div.svelte-hnidpj{width:50%;background:#fff}@media(max-width:600px){div.svelte-hnidpj{width:100%}img.svelte-hnidpj{max-width:100%}}
